.button{
    border-radius: 40px;
    padding: 7px 15px;
    height: 44px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    font-family: $mainFont;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    &.is-primary{
        color: white !important;
        background-color: $mainColor !important;
    }
    &.is-outlined{
        background-color: white !important;
        color: $grey;
    }
    &.is-green{
        background-color: $secondColor !important;
        color: white;
        font-size: 20px;
    }

    &.is-white{
       color: $mainColor !important;
       border-radius: 12px;
    }
    &.btn-medium{
       min-width: 120px; 
    }
    &.btn-larg{
       min-width: 150px ; 

    }
    &.is-grey{
        background-color: #CBCBCB;
    }

    &.is-rounded{
        color: $mainColor !important;
        border-radius: 20px;
    }

    &.btn-font{
        font-weight: bold !important;
    }
    &.is-black{
        border-radius: 20px;
        color: $mainColor;
        background-color: black;
        opacity: 0.65;
        min-width: 85px;
    }
    &.is-block{
        width: 120px;
        height: 40px;
    }
    &.is-icon{
        line-height: 38px;
    }
}
.btn-block{
    width: 100%;
    display: block;
}
