@font-face {
    font-family: 'Cairo';
    src: url('Cairo-Regular.ttf') format('truetype'),
        url('Cairo-Black.ttf') format('truetype'),
        url('Cairo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('Cairo-Regular.ttf') format('truetype'),
        url('Cairo-Black.ttf') format('truetype'),
        url('Cairo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


